---
layout: default
---
<div class="post">

  <header class="post-header">
    <h2 class="post-title">{{ page.title }}</h1>
  </header>

  <img src="{{page.profile}}" height=200em width=auto>

  <article class="post-content">
    {{ content }}
  </article>

  <table style="width:100%">
  {% for postage in site.posts %}
  {% if postage.provider == 0 %}
  <tr>
    <td><img src="{{postage.profile}}" height=100em width=auto></td>
    <td>{{postage.title}}</td>
    <td>{{postage.comment}}</td>
    <td>{{postage.rating}}</td>
  </tr>
  {% endif %}
  {% endfor %}

  </table>
</div>

<FORM METHOD="LINK" ACTION="/book.html">
  <INPUT TYPE="submit" VALUE="Book">
</FORM>
